<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtro">
      </div>
    </div>
  </div>
  <table class="table table-striped border border-dark">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button type="button" (click)="mostrarEsconderImagem()" class="btn btn-outline-light btn-sm">
            <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{isCollapsed ? "exibir" : "ocultar"}}
          </button>
        </th>
        <th>Titulo</th>
        <th class="d-none d-md-table-cell">Charactetrs</th>
        <th class="d-none d-md-table-cell">Stories</th>
        <th class="d-none d-md-table-cell">Creators</th>
        <th class="d-none d-md-table-cell">Modificado</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="ComicsFiltrado.length > 0">
      <tr *ngFor="let comic of ComicsFiltrado">
        <td class="d-none d-md-table-cell">
          <img
            src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
            alt="{{comic.title}}"
            width="85px" height="85px"
            [collapse]="isCollapsed" [isAnimated]="true"          >
        </td>
        <td>{{comic.title}}</td>
        <td class="d-none d-md-table-cell">{{comic.characters.available}}</td>
        <td class="d-none d-md-table-cell">{{comic.stories.available}}</td>
        <td class="d-none d-md-table-cell">{{comic.creators.available}}</td>
        <td class="d-none d-md-table-cell">{{comic.modified | DateFormatPipe}}</td>
        <td>
          <button class="btn btn-outline-dark btn-sm mr-2" (click)="goToDetalhesComics(comic)">
            <i class="fa fa-search"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="ComicsFiltrado.length == 0">
      <tr>
        <td colspan="7" class="text-center">
          <h4>Nenhum registro encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<br><br><br>
