<table class="table table-striped" style="border: 0.5px solid black;">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" (click)="MostrarEsconderImagens()" class="btn btn-outline-light btn-sm">
          <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{isCollapsed ? "exibir" : "ocultar"}}
        </button>
      </th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody *ngIf="comicCharacters.length > 0">
    <tr *ngFor="let character of comicCharacters">
      <td>
        <img
          src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
          alt="{{character.name}}"
          width="85px" height="85px"
          [collapse]="isCollapsed" [isAnimated]="true"
        >
      </td>
      <td>{{character.name}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="comicCharacters.length == 0">
    <tr>
      <td colspan="2" class="text-center">
        <h4>Nenhum registro encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
