<div class="container mt-3" style="border: 0.5px solid black;">
  <div class="row">
    <div class="col-9">
      <h3 style="padding-left: 15px;"><b>Título: </b>{{serie.title}}</h3>
    </div>
    <div class="col-4">
      <img src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}"
        alt="{{serie.title}}"
        class="col-md-6 float-md-end mb-3 ms-md-3"
        style="max-width: 100%;"
      >
    </div>
    <div class="col-6">
      <h3>
        <b>Descrição: </b>
      </h3>
      <h4>
        {{serie.description == "" ? "No description in API Marvel!":serie.description}}
      </h4>
    </div>
  </div>
  <hr>
</div>
<div class="container mt-2">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{serie.urls[0].url}}" target="_blank"><button class="btn btn-dark m-2" type="button">Serie Site</button></a>
    <button class="btn btn-dark m-2" type="button" (click)="btnVoltar_Click()">Voltar</button>
  </div>
</div>
<br><br><br>
