<table class="table table-striped" style="border: 0.5px solid black;">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" (click)="MostrarEsconderImagens()" class="btn btn-outline-light btn-sm">
          <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{isCollapsed ? "exibir" : "ocultar"}}
        </button>
      </th>
      <th>Series</th>
    </tr>
  </thead>
  <tbody *ngIf="characterSeries.length > 0">
    <tr *ngFor="let serie of characterSeries">
      <td>
        <img
          src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}"
          alt="{{serie.title}}"
          width="85px" height="85px"
          [collapse]="isCollapsed" [isAnimated]="true"
        >
      </td>
      <td>{{serie.title}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="characterSeries.length == 0">
    <tr>
      <td colspan="2" class="text-center">
        <h4>Nenhum registro encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
